:root {
    --primary-color: rgb(87, 146, 255);
}

body{
    overflow-x: hidden;
}
footer {
    display: flex;
    position: sticky;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--primary-color);
}
.social-icon {
    background-color: var(--primary-color);  
}


