:root {
  --primary-color: #212529;
  --secondary-color: rgb(87, 146, 255);
}

body {
  overflow-x: hidden;
}
footer {
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  background-color: var(--primary-color);
}
.social-icon {
  background-color: var(--secondary-color);
}
#scrollToTop {
  border-color: #343a40;
  border: 1px 1px;
  padding: 0.3em;
}
